h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #ff7676;
  text-shadow: 1px 3px 4px #ff9b96;
  font-size: 46px;
}

.itemListContainer {
  display: flex;
}
