.card {
  margin: 1rem;
  padding: 0.5rem;
  width: 300px;
  height: auto;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.cardTitle {
  position: relative;
  top: 1rem;
  font-size: x-large;
  color: #ff9b96;
  font-style: italic;
}

.cardImg img {
  width: 100%;
  height: auto;
  margin: auto auto;
}

a p {
  max-width: 60%;
  margin: auto;
  margin-top: 1rem;
}
