.cartCard {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 15px 20px 20px 3px #d9d9d9;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
